body{
	background-color: black;
}

.inicio {
	width: 100%;
	height: 100px;
	

}

.boton {
	display: inline-block;
	box-shadow: 0px 5px 0 #8F1502;
	background-color: brown;
	border-radius: 30px;
	border: 0px;
	color: white;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	padding: 15px 25px;
	transition: all 0.5s;
	cursor: pointer;
	text-decoration: none;
	font-family: impact;
	position: relative;
	bottom: 0;
	transition: all 0.20s linear;
    -webkit-transition: all 0.20s linear;
    -moz-transition: all 0.20s linear;
}

.boton:active{
    bottom: -5px;
	box-shadow:0 0 0 red, inset 0 0 5px red;
	background-color: red;
}

.texto{
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: impact;
}

.foto {

	margin-left: 10px;
	
}

.capacidades {
	border: 2px solid white;
	border-radius: 50px;
	background-color: brown;
	width: 600px;
	height: 80px;
	margin-top: 50px;
	margin-left: 85px;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
	
}

.capacidades:hover {
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	opacity: 0.6;
}

.texto1 {
	font-family: impact;
	color: white;
	
}

.sobremi {
	padding: 3px 10px;
    border: brown 5px double;
    border-top-left-radius: 20px;
  	border-bottom-right-radius: 20px;
	margin-top: 15px;
	margin-left: 0;
	width: 1000px;
	height: 400px;
	display: grid;
	
}

.texto2 {
	color: white;
	font-family: impact;
	
}

.texto3 {
	color: white;
	font-family: impact;
}

.texto4 {
	color: white;
	font-family: impact;
}

.texto5 {
	color: white;
	font-family: impact;
}

.texto6 {
	color: white;
	font-family: impact;
}

