body {
	background-color: black;
			
}

.contenedor_nombre {
	width: 400px;
	margin-top: 50px;
	margin-bottom: 20px;
	display: flex;
	align-content: space-around;	
}

.nombre{
	color: white;
}

.apellido{
	color: red;	
}

.apellido2{
	color: white;	
}

.contenedor1 {
	border-radius: 50px;
	margin-top: 0px;
	margin-bottom: 1px;
	width: 100%;
	height: 50px;
	
}
.bienvenida {
	background-color: brown;
	color: white;
	border-radius: 50px;
	font-size: 40px;
	display: flex;
	justify-content: center;
	transition: all 0.5s;
	cursor: pointer;
	text-decoration: none;
	font-family: impact;
}

.bienvenida:hover{
	filter: opacity(.5);
	background: rgba(0,0,0,0);
	color: gold;
	box-shadow: inset 0 0 0 3px white;
}

.contenedor2 {
	background-color: black;
	width: 1525px;
	height: 200px;
	 
	
}

.contenedor3:hover{
	padding: 3px 10px;
    border: brown 5px double;
    border-top-left-radius: 20px;
  	border-bottom-right-radius: 20px;
	margin-top: 5px;
	margin-left: 200px;
	width: 1000px;
	height: 200px;
	display: grid;
	
}

.texto{
	color: white;
	display: flex;
	justify-content: center;
	font-family: impact;
}

.texto2:hover {
	color: white;
	font-family: impact;
}

.texto3:hover{
	color: white;
	font-family: impact;
}

.texto4:hover{
	color: white;
	font-family: impact;
}

.texto5:hover{
	color: white;
	font-family: impact;
}
.contenedor4 {
	top: 20px;
	display: flex;
	justify-content: space-between;
}


.boton:active{
    bottom: -5px;
	box-shadow:0 0 0 red, inset 0 0 5px red;
	background-color: red;
}

.boton {
	display: inline-block;
	box-shadow: 0px 5px 0 #8F1502;
	background-color: brown;
	border-radius: 30px;
	border: 0px;
	color: white;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	padding: 15px 25px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	text-decoration: none;
	font-family: impact;
	position: relative;
	bottom: 0;
	transition: all 0.20s linear;
    -webkit-transition: all 0.20s linear;
    -moz-transition: all 0.20s linear;
}

.texto{
	display: flex;
	align-items: center;
	justify-content: center;
}

.mifooter{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	position: fixed;
	background-color:brown;
	width: 100%;
	height: 70px;
	bottom: 0;
	border-radius: 50px;
}

.spam1{
	color: white;
	font-family: impact;
}

