body {
	background-image: url(../IMAGENES/fotofondoplay.jpeg);
}
#container {
	border: solid black 2px;
	width: 1200px;
	margin: auto;
	background-color: cornflowerblue;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

#contenedor {
	background-color: black;
	color: white;
	border: solid black 2px;
	width: 1200px;
	margin-left:310px;
	display: inline-block;
}

.absolute {
	margin: auto;
	width: 1200px;
	color: white;
	
}

.mapa {
	margin: auto;
	width: 1200px;
}

.precio {
	font-size: 17px;
	margin-top: 0;
}
.fotosVideojuegos {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
#contenedor2 {
	background-color: black;
	color: white;
	border: solid black 2px;
	width: 1200px;
	margin: auto;
}
.fotosConsolas {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.button:hover {
	background-color: purple;
	border: none;
	color: white;
	padding: 40px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	cursor: pointer;
}
.button1 {
	background-color: white;
	color: black;
	border: 2px solid #4CAF50;
}
.button {
	display: inline-block;
	border-radius: 4px;
	background-color: black;
	border: none;
	color: white;
	text-align: center;
	font-size: 28px;
	padding: 10px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
	text-decoration: none;
	font-family: cursive;
}
.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}
.button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}
.button:hover span {
	padding-right: 25px;
}
.button:hover span:after {
	opacity: 1;
	right: 0;
}
#botones {
	margin: auto;
	border-bottom-width: medium;
}

.telefono {
	color: aquamarine;
}

.correo {
	color: aquamarine;
}

.contratar {
	color: aquamarine;
}

.horario{
	color: aquamarine;
}